# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

\.ipynb_checkpoints/

.pytest*

*.dat
!.benchmark/

#Ropeproject
.ropeproject

#Developpement files
dev.ipynb

*.h5

.idea/
data/
.pytest_cache/
.ipynb_checkpoints/
.cache/


Benckmark validation.ipynb

*.prof

.mypy.ini
ar_hFactor_AT_original_NoIzExc
configurations/1_CCP_configurations/0_1Torr_100V_512Particle.cfg
configurations/1_CCP_configurations/0_1Torr_200V_512Particle.cfg
configurations/1_CCP_configurations/0_1Torr_300V_512Particle.cfg
configurations/1_CCP_configurations/0_5Torr_100V_512Particle.cfg
configurations/1_CCP_configurations/0_5Torr_200V_512Particle.cfg
configurations/1_CCP_configurations/0_5Torr_300V_512Particle.cfg
configurations/1_CCP_configurations/1Torr_100V_512Particle.cfg
configurations/1_CCP_configurations/1Torr_100V_512Particle_old.cfg
configurations/1_CCP_configurations/1Torr_200V_512Particle.cfg
configurations/1_CCP_configurations/1Torr_200V_512Particle_old.cfg
configurations/1_CCP_configurations/1Torr_300V_512Particle.cfg
configurations/1_CCP_configurations/1Torr_300V_512Particle_old.cfg
configurations/1_CCP_configurations/2Torr_100V_512Particle.cfg
configurations/1_CCP_configurations/2Torr_200V_512Particle.cfg
configurations/1_CCP_configurations/2Torr_300V_512Particle.cfg
configurations/1_CCP_configurations/4Torr_100V_512Particle.cfg
configurations/1_CCP_configurations/4Torr_200V_512Particle.cfg
configurations/1_CCP_configurations/4Torr_300V_512Particle.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_0_05.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_0_5.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_10.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_2.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_lessParts.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_0_05.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_0_5.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_10.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_100.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_2.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_20.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_LessResolution_50.cfg
configurations/2_hFactorConfigurations/ar_hFactor_AT_original_small.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn0_01_400Debye.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn0_01_AT.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn0_1_400Debye.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn0_1_AT.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn100_400Debye.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn100_AT.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn10_400Debye.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn10_AT.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn1_400Debye.cfg
configurations/2_hFactorConfigurations/ar_hFactor_Kn1_AT.cfg
configurations/OldConfigs/01Torr_100V_IncreasedWeight.cfg
configurations/OldConfigs/1Torr_100V.cfg
configurations/OldConfigs/1Torr_100V_IncreasedWeight.cfg
configurations/OldConfigs/1Torr_100V_LowParts.cfg
configurations/OldConfigs/1Torr_200V.cfg
configurations/OldConfigs/1Torr_200V_IncreasedWeight.cfg
configurations/OldConfigs/1Torr_200V_LowParts.cfg
configurations/OldConfigs/1Torr_300V.cfg
configurations/OldConfigs/1Torr_300V_IncreasedWeight.cfg
configurations/OldConfigs/1Torr_300V_LowParts.cfg
configurations/OldConfigs/2Torr_100V.cfg
configurations/OldConfigs/2Torr_100V_IncreasedWeight.cfg
configurations/OldConfigs/2Torr_100V_LowParts.cfg
configurations/OldConfigs/2Torr_200V.cfg
configurations/OldConfigs/2Torr_200V_IncreasedWeight.cfg
configurations/OldConfigs/2Torr_200V_LowParts.cfg
configurations/OldConfigs/2Torr_300V.cfg
configurations/OldConfigs/2Torr_300V_IncreasedWeight.cfg
configurations/OldConfigs/2Torr_300V_LowParts.cfg
configurations/OldConfigs/4Torr_100V.cfg
configurations/OldConfigs/4Torr_100V_Ar.cfg
configurations/OldConfigs/4Torr_100V_IncreasedWeight.cfg
configurations/OldConfigs/4Torr_100V_LowParts.cfg
configurations/OldConfigs/4Torr_200V.cfg
configurations/OldConfigs/4Torr_200V_IncreasedWeight.cfg
configurations/OldConfigs/4Torr_200V_LowParts.cfg
configurations/OldConfigs/4Torr_300V.cfg
configurations/OldConfigs/4Torr_300V_IncreasedWeight.cfg
configurations/OldConfigs/4Torr_300V_LowParts.cfg
configurations/OldConfigs/ar_hFactor_Kn0_01_400Debye.cfg
configurations/OldConfigs/ar_hFactor_Kn0_1_400Debye.cfg
configurations/OldConfigs/ar_hFactor_Kn100_400Debye.cfg
configurations/OldConfigs/ar_hFactor_Kn10_400Debye.cfg
configurations/OldConfigs/ar_hFactor_Kn1_400Debye.cfg
configurations/OldConfigs/ar_hFactor_Kn1_400Debye_test.cfg
configurations/OldConfigs/ar_hFactorTest.cfg
configurations/OldConfigs/ar_hFactorTest_Kn1.cfg
configurations/OldConfigs/ar_hFactorTest_Kn10.cfg
configurations/OldConfigs/ar_hFactorTest_Kn100.cfg
configurations/OldConfigs/ar_hFactorTest_Kn_0_001.cfg
configurations/OldConfigs/ar_hFactorTest_Kn_0_01.cfg
configurations/OldConfigs/CCP_Shu.cfg
configurations/OldConfigs/electron_turner1.txt
configurations/OldConfigs/I12_15mTorr.txt
configurations/OldConfigs/I2_15mTorr.txt
configurations/OldConfigs/I32_15mTorr.txt
configurations/OldConfigs/induction_ar_2.cfg
configurations/OldConfigs/induction_xe.cfg
configurations/OldConfigs/ions_turner1.txt
configurations/OldConfigs/PEGASES_Ar.cfg
configurations/OldConfigs/profile_I_alpha128_13W.cfg
configurations/OldConfigs/profile_I_alpha128_HP.cfg
configurations/OldConfigs/profile_I_alpha32.cfg
configurations/OldConfigs/profile_xe.txt
configurations/OldConfigs/t1_He.txt
configurations/OldConfigs/test_I.cfg
configurations/OldConfigs/test_I_alpha16.cfg
configurations/OldConfigs/test_Xe_alpha16.cfg
configurations/OldConfigs/test_Xe_alpha32.cfg
configurations/OldConfigs/turner1.cfg
configurations/OldConfigs/turner1_profile.cfg
configurations/OldConfigs/turner2.cfg
configurations/OldConfigs/turner3.cfg
configurations/OldConfigs/turner4.cfg
configurations/OldConfigs/xe_pegases.cfg
configurations/OldConfigs/Xenon_50w3_5mTorr_losses.cfg
configurations/OldConfigs/Xenon_losses_fast.cfg
cross_sections/Ar_NoIz/Ar 1+_Ar.txt
cross_sections/Ar_NoIz/e-_Ar.txt
cross_sections/Ar_NoIzExc/Ar 1+_Ar.txt
cross_sections/Ar_NoIzExc/e-_Ar.txt
nohup.out
makeVideos.py
graph_Shu.ipynb
graph_CPP.ipynb
.DS_Store
/configurations/2_hFactorConfigurations
graph_hfactor.ipynb
graph_CPP.ipynb
graph_Shu.ipynb
graph_Shu_2.ipynb
graph_Shu_3.ipynb
configurations/1Torr_100V_200Particle.cfg
