[Simulation parameters]

# System length
Lx = 13 cm

# Nx number of cells
Nx = 3200

# particles number,in particles par cell
Npart = 200


n_average = 1024


start_step = 0

# time step
dT = 1.58e-11 s

# simulation duration
Nt = 5120000

#Partial distribution interval in dX
D=10





[left boundary]

type = constant

V = 0

[right boundary]

type = constant
V = 0

[specie electron]

T = 30000 K
n = 5.0e16 m^-3
diagnostics = n

[specie I+]

T = 450 K
n = 5.0e16 m^-3
diagnostics = n

[specie I-]
T = 450 K
n = 5.0e16 m^-3
diagnostics = n


[specie I2+]

T = 450 K
n = 5.0e16 m^-3
diagnostics = n


[neutral I_12]

T = 450 K
n = 5.0e19 m^-3

[neutral I_32]

T = 450 K
n = 5e19 m^-3

[neutral I2]

T = 450 K
n = 1.0e19 m^-3

[inductive heating]

Wabs = 5208.0 
alpha = 6.5
Nrf=4651
r=0.66
E0=500.0 V/m


[IO parameters]

Partial_Distribution = True
Complete_Distribution = False
Record_collisions = True


