[Simulation parameters]

# System length
Lx = 2.0 cm

# Nx number of cells
Nx = 256

# particles number, in particles per cell
Npart = 25


n_average = 12800


start_step = 0

# time step
dT = 2.5e-12 s

# simulation duration
Nt = 512000


[left boundary]

type = sin

f = 13.56 MHz
V = 150 V

[right boundary]

type = constant
V = 0

[specie electron]

T = 300 K
n = 2.56e8 m^-3
diagnostics = n, Power, V, n_evolution
#EDF number of probes, resolution, max energy
EDF = 1, 100 , 60 eV
#EDFN = 10, 100 , 60 eV
collisions_rates = IONIZATION


[specie He+]

T = 300 K
n = 2.56e8 m^-3
diagnostics = n, Power, V

[neutral He]

T = 300 K
n = 9.64e20 m^-3

